// Theme Colors
$sidebar-bg-color: #171f3e;                   // White background for the sidebar
$sidebar-text-color: white;               // Dark grey for sidebar text
$sidebar-hover-bg-color: #f0f0f0;           // Light grey for hover state
$sidebar-active-bg-color: #435ebe;          // Dark blue for active state
$sidebar-active-text-color: white;          // White text for active state
$main-content-bg-color: #f2f7ff;
$submenu-bg-color: #f9f9f9;                 // Light background for submenu
$submenu-hover-bg-color: #e0e0e0;           // Hover color for submenu
$submenu-text-color: #2c3e50;               // Text color for submenu items
$primary-color: #239e8b;

// Typography
$font-weight-bold: 700;

// Typography
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-weight-bold: 700;

// Button Colors
$btn-primary-bg: #16a085;
$btn-primary-color: white;

$btn-secondary-bg: #34495e;
$btn-secondary-color: white;

// Padding
$sidebar-item-padding: 12px 20px;
$submenu-item-padding: 10px 30px;  